
.card {
    border-radius: .375rem;
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, .09);
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.09) !important;
}

.z-depth-2 {
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, .05), 0px 10px 11px 0px rgba(0, 0, 0, .05) !important;
}
.navbar {
    padding: .2rem 1rem;
}
.rounded-new {
    border-radius: .375rem !important;
}

.md-pills .nav-link.active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
}
      .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid { width: 100%; height: auto; }
      .navbar.navbar-dark .navbar-nav .nav-item .nav-link.active {
        background: rgba(255, 255, 255, .15) !important;
      }


      .grecaptcha-badge { 
        bottom:65px !important;
      }