
.view {
    padding-top:40px;
}
.card {
    border-radius: .375rem;
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, .09);
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.09) !important;
}

.z-depth-2 {
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, .05), 0px 10px 11px 0px rgba(0, 0, 0, .05) !important;
}
.navbar {
    padding: .2rem 1rem;
}
.rounded-new {
    border-radius: .375rem !important;
}

.md-pills .nav-link.active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
}
      .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid { width: 100%; height: auto; }
      .navbar.navbar-dark .navbar-nav .nav-item .nav-link.active {
        background: rgba(255, 255, 255, .15) !important;
      }
      .carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
      .carousel-multi-item.v-2 .carousel-item-next,
      .carousel-multi-item.v-2 .carousel-item-prev {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .carousel-multi-item.v-2 .carousel-item-right.active,
      .carousel-multi-item.v-2 .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      .carousel-multi-item.v-2 .carousel-item-left.active,
      .carousel-multi-item.v-2 .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .carousel-multi-item.v-2 .carousel-item-right,
      .carousel-multi-item.v-2 .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }